
ul li a{
    color: #BCBCBC !important;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}
.link-setup{
    font-size: 22px;
    font-weight: bold;
    color: #444;
}
.slider-sec img{
    height: 550px;
}
.move{
    position: absolute;
    bottom: 0px;
    left: 0%;
}
.bg{
    background-color: #a54e4e75 !important;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
.bg h5{
    font-size: 25px;
    margin-top: -17px;
    font-weight: 700;
}
.bg p{
    color: #BCBCBC;
    font-weight: 500;
}
.slider-content{
    background-color: #F7F7F7;
    padding: 20px 30px;
    width: 97.5%;
    margin-left: 14px;
}
.slider-content h3{
    color: #444;
    font-size: 20px;
}
.media-body h5{
    color: #696161;
    font-size: 30px;
}
footer{
    background-color: #F8F8F8;
    padding: 20px 0px;
    color: #777;
    border-top: 2px dashed #e7e2e2;
}
footer a{
    color: #BCBCBC;
}

/* RESPONSIVE DESIGN START */

@media (min-width: 426px) and (max-width: 768px){
    .col-md-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .media-body h5{
        font-size: 22px;
    }
    .slider-content{
        width: 96%;
    }
}

/* RESPONSIVE DESIGN END */